* {

    margin: 0 auto;
}

.quiz-title {
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.6rem;
    font-weight: 900;
    margin-bottom: .8rem;
    text-align: center;
}

h2 {
    color: orange;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-top: 1rem;
}

p {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding:0 6px 6px 6px;
    text-align: left;
}

.container {
    background-image: url("/img/earth-form-space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0 auto;
    max-width: 100vw;
    padding: 25px;
}

.cards-container {
    display: grid;
    grid-auto-rows: minmax(250px, 250px);
    grid-gap: 10px 10px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1200px;
}

.card-front {
    background: #fff;
    border-radius: 12px;
    height: 250px;
    text-align: center;
    width: 250px;
}